*{
  margin:5px;
  padding:5px;
  background-color: #B8B7B7;

}

.body{
  background-color: #B8B7B7;
}
.welcome{
  background-color: #eeffee;

}


.projects{
  display: block;
}

.links{
  background-color: #E7E7E7;
}
