*{
  margin:10px;
  padding:10px;
  background-color: #adcbe3;

}

.body{
  background-color: skyblue;
  width: 100px;
}

.welcome{
  background-color: gray;
  align-items: center;

}

.navigation{
  border: 1px;
}


.projects{
  display: flex;
}

.links{
  background-color: #E7E7E7;
}

.profilelinks{
  border: 2px solid black;
  display: flex;
  background: gray;
}
